body {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header ul {
    display: flex;
    flex: 1;
    gap: 16px;
}

li {
    list-style-type: none;
}